<h4>list Classroom</h4>
<table>
    <tr>

        <th>
            ID
        </th>
        <th>
            Name
        </th>


    </tr>

    {% for i in tab_classroom %}

        <tr>
            <td>
           {{ i.id}}

            </td>
        <td>
            {{ i.name}}
        </td>
            <td>                <a href="{{ path('Update_Classroom',{'id':i.id}) }}">Update</a>
            </td>
            <td>                 <a href="{{ path('Delete_Classroom',{'id':i.id}) }}">Delete</a>
            </td>


    </tr>
    {% endfor %}
</table>